<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>controller.ValidateCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addStu</servlet-name>
    <servlet-class>controller.addStu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatesUser</servlet-name>
    <servlet-class>controller.updatesUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatetUser</servlet-name>
    <servlet-class>controller.updatetUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryController</servlet-name>
    <servlet-class>controller.QueryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>personinfoset</servlet-name>
    <servlet-class>controller.personinfoset</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteStu</servlet-name>
    <servlet-class>controller.deleteStu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryCity</servlet-name>
    <servlet-class>controller.QueryCity</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>QueryCity</servlet-name>
    <url-pattern>/QueryCity.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteStu</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryController</servlet-name>
    <url-pattern>/QueryController.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personinfoset</servlet-name>
    <url-pattern>/personinfoset.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addStu</servlet-name>
    <url-pattern>/addStudent.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/servlet/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/servlet/ValidateCode.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatesUser</servlet-name>
    <url-pattern>/updatesUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatetUser</servlet-name>
    <url-pattern>/updatetUser.do</url-pattern>
  </servlet-mapping>
</web-app>